click==7.1.1
Flask==1.1.2
Flask-MySQLdb==0.2.0
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mysql-connector-python==8.0.19
mysqlclient==1.4.6
numpy==1.18.3
pandas==1.0.3
pandasql==0.7.3
py==1.8.1
py4j==0.10.7
pylint==2.4.4
PyMySQL==0.9.3
requests==2.23.0
Werkzeug==1.0.1
